*.swp
*.6
*.DS_Store
src/main
src/komoku/komoku.a
src/komoku/t/common_test
src/komoku/t/board_test
src/komoku/t/intlist_test
src/komoku/t/gtp_test
src/komoku/t/ui_test
src/komoku/b/design_decision_benchmark
src/komoku/b/board_benchmark
src/komoku/b/intlist_benchmark
data/tmp/*.tmp
data/prof/*.prof
